<div class="container-fluid" id="optionView">
    <div class="container-fluid question">
        <h4>I'd bet that...</h4>
        <textarea rows="3" ng-model="betModel.question" maxlength="50" placeholder=". . ." class="needsclick"></textarea>
    </div>

    <div ng-show="betModel.betType === 1">
        <div class="container-fluid" id="description">
            <h4>Write your options & select your answer</h4>
        </div>
        <div class="container-fluid option" ng-repeat="option in betModel.options track by $index" 
             layout="row" layout-align="space-around center" ng-class="{selected: input.option === option}"> 
            <img class="radio_button" src="assets/radio_button.png" ng-click="selectOption(option)"/>
            <input type="text" ng-model="option.content" autofocus id="option{{$index}}"/>
            <img class="x_button" src="assets/x_button.png" ng-click="removeOption($index)" />
        </div>
        <button id="addOption" ng-click="addOption()" ng-show="betModel.options.length < 10">
            <img class="add_button center" src="assets/add_button.png" />
            <h4>NEW OPTION</h4>
        </button>
    </div>

    <div id="beforePageEnd"></div>
    <div id="pageEnd"></div>

    <div class="buttonContainer">
        <button id="nextButton" class="btn btn-default" ng-click="submitQuestionAndOptions()">
            Next
        </button>
    </div>
</div>
