.shareBet #leftCol {
	padding-right: 0;
    padding-left: 0;
}

.shareBet #rightCol {
    padding-right: 0;
	padding-left: 0;
}

.shareBet .row {
    margin: 0;
}

.shareBet .gifContainer {
	float: left;
	height: auto;
	margin: 5px;
	box-shadow: 1px 1px 5px 1px #808080;
}

.shareBet .gifContainer img {
	width: 100%
}

.shareBet #selectButton {
	position: fixed;
	bottom: 0; top: auto;
    left: 0; right: 0;
	width: 100%;
	height: 60px;
	box-shadow: 0px 0px 10px 1px;
}

.shareBet #selectButton .btn {
	width: 100%;
	height: 100%;
}

.shareBet input {
	height: 60px;
	width: 100%;
	border: 0;
	font-size: 20px;
	padding-right: 20px;
	padding-left: 20px;

	border-bottom-style: solid;
	border-bottom-color: #9999ff;
	border-bottom-width: 1px;
}

.shareBet input:focus {
	outline: none;
}

.shareBet textarea {
    font-size: 15px;
    resize: none;
    width: 100%;

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #9999ff;
    padding: 10px;

    margin-top: 10px;
}

.shareBet textarea:focus {
    outline: none;
}

.shareBet #message {
    margin: 10px;
}

.shareBet #imageSelection {
    height: 50px;
}

.shareBet #imageSelection img {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: auto;
}

.shareBet #message .imgPreview {
    width: 100%;
    padding: 10px;
}