<div class="container-fluid" id="shareBet">
	<div>
		<input type="text" ng-model="input.query" ng-change="search(input.query)">
	</div>
	<div class="row">
		<div class="col col-xs-6" id="leftCol">
			<div ng-repeat="gif in gifs" class="gifContainer" ng-show="$even" ng-click="select($index)">
		        <img src="{{gif.images.original_still.url}}" ng-show="!isSelected($index)"/>
		        <img src="{{gif.images.original.webp}}" ng-show="isSelected($index)"/>
		    </div>		
		</div>
		<div class="col col-xs-6" id="rightCol">
			<div ng-repeat="gif in gifs" class="gifContainer" ng-show="$odd" ng-click="select($index)">
				<img src="{{gif.images.original_still.url}}" ng-show="!isSelected($index)"/>
		        <img src="{{gif.images.original.webp}}" ng-show="isSelected($index)"/>
		    </div>
		</div>
	</div> 
	<div id="selectButton">
		<button class="btn btn-default">
			<h4>Choose</h4>
		</button>
	</div>
</div>