<div class="container-fluid shareBet">

    <div id="message" ng-show="state === 1">
        <div class="sharedImage">
            <div class="placeholder" ng-show="!image.src">?</div>
            <img ng-src="{{image.src}}" class="imgPreview" />
        </div>
        
        <div class="imageSourceOption" layout="row" layout-align="center center">
            <img src="assets/icon_gif.png" ng-click="changeToSelectGif()" />
        </div>

        <h5>Comment</h5>
        <textarea rows="5" placeholder="message" ng-model="input.message"/> 
        <div class="selectButton" layout="row" layout-align="center center" ng-show="bet.state === BET_STATE.FINALLIZED">
            <md-button class="md-raised" ng-click="share()"><img src="./assets/logo_facebook.png" />Share</md-button>
        </div>
    </div>

    <!-- CHOOSE GIF VIEW -->
    <div ng-show="state === 2" class="gifView">
        <div>
            <input type="text" ng-model="input.query" ng-change="search(input.query)" placeholder="search GIFs">
        </div>
        <div class="row">
            <div class="col col-xs-6" id="leftCol">
                <div ng-repeat="gif in gifs" class="gifContainer" ng-show="$even" ng-click="select($index)">
                    <img src="{{gif.images.fixed_width_still.url}}" ng-show="!isSelected($index)" />
                    <img src="{{gif.images.fixed_width.url}}" ng-show="isSelected($index)" />
                </div>
            </div>
            <div class="col col-xs-6" id="rightCol">
                <div ng-repeat="gif in gifs" class="gifContainer" ng-show="$odd" ng-click="select($index)">
                    <img src="{{gif.images.fixed_width_still.url}}" ng-show="!isSelected($index)" />
                    <img src="{{gif.images.fixed_width.url}}" ng-show="isSelected($index)" />
                </div>
            </div>
        </div>
        <div class="selectButton" layout="row" layout-align="center center">
            <md-button class="md-raised" ng-click="changeToComposingView()">Choose</md-button>
        </div>
    </div>
</div>