<div class="container-fluid" id="rule">
    <h3>Set Up</h3>
	<div id="title">
		<h3>Days Till Expiry</h3>
		<h4>Choose the number of days allowed for the participants to place their bets before the bet will tabulate the result.</h4>
	</div>
	<div id="counter">
		<div id="day">
			<img src="assets/arrow_up.png" class="img img-responsive" ng-click="increaseDay()">
			<h3>{{Math.floor(betModel.duration / 24 / 60)}}</h3>
			<h4>Days</h4>
			<img src="assets/arrow_down.png" class="img img-responsive" ng-click="decreaseDay()">
		</div>
		<div id="hour">
			<img src="assets/arrow_up.png" class="img img-responsive" ng-click="increaseHour()">
			<h3>{{Math.floor(betModel.duration / 60) % 24}}</h3>
			<h4>Hours</h4>
			<img src="assets/arrow_down.png" class="img img-responsive" ng-click="decreaseHour()">
		</div>
        <div id="minute">
            <img src="assets/arrow_up.png" class="img img-responsive" ng-click="increaseMinute()">
            <h3>{{betModel.duration % 60}}</h3>
            <h4>Minutes</h4>
            <img src="assets/arrow_down.png" class="img img-responsive" ng-click="decreaseMinute()">
        </div>
	</div>
</div>