#rule {
	background-color: #FCFCFC;
}

#rule>h3 {
    height: 33px;
    font-size: 16px;
    color: #9999ff;
    background-color: #FCFCFC;
    margin: 17px 0 0 0;
    padding-bottom: 17px;
    text-align: center;

    border-bottom: solid;
    border-bottom-color: #9999ff;
    border-bottom-width: 2px;
}

#rule .customNavbar h4 {
	font-weight: bold;
}

#rule .customNavbar {
	top: 50px;
}

#rule #counter {
	position: relative;
}

#rule #counter h3 {
	text-align: center;
	font-size: 5em;
	color: #57d1c2;
}

#rule #title h4 {
	font-size: 1em;
	margin: 2% 10%;
}

#rule #title h3 {
	font-size: 1.5em;
	margin: 1em 10% 0;
	font-weight: bold;
}

#rule #counter h4 {
	text-align: center;
	font-size: 16px;
    margin-left: 0;
    margin-right: 0;
}

#rule #counter img {
	width: 2em;
	height: auto;
}

#rule #counter #day {
	float: left;
	width: 33%;
	background: #FCFCFC;
	padding-top: 2em;
	padding-bottom: 5em;
}

#rule #counter #hour {
	float: left;
	width: 33%;
	background: #FCFCFC;
	padding-top: 2em;
	padding-bottom: 5em;
}

#rule #counter #minute {
	float: left;
	width: 33%;
	background: #FCFCFC;
	padding-top: 2em;
	padding-bottom: 5em;
}