#betType {
    height: 100%;
}

#betType>h3 {
    height: 16px;
    font-size: 16px;
    color: #9999ff;
    background-color: #FCFCFC;
    margin: 17px auto;
    text-align: center;
}

#betType>div {
    padding-top: 20px;
    height: calc(50% - 25px);
}

#betType>div h4 {
    text-align: center;
    font-weight: bold;
}

#betType>div h5 {
    text-align: center;
    color: #FCFCFC;
    margin-bottom: 0;
}

#betType>div img {
    width: auto;
    height: 50%;
}

#betType #pickASide {
    background-color: #57d1c2;
    height: calc(50% - 25px);
}

#betType #meWorld {
    background-color: #ff806f;
    height: calc(50% - 25px);
}