<div class="container-fluid" id="betType">
    <h3>Select a Type of Bet</h3>
    <div id="pickASide" ng-click="setBetType(1)">
        <img src="assets/image_pickASide.png" class="img img-responsive"/>
        <h4>Pick-A-Side</h4>
        <h5>Write your own options and let your friends pick a side!</h5>
    </div>
    <div id="meWorld" ng-click="setBetType(0)">
        <img src="assets/image_meVsTheWorld.png" class="img img-responsive" />
        <h4>Me-Against-The-World</h4>
        <h5>Be the sole winner and prove everyone else wrong! Invite those against you for a bet.</h5>
    </div>
</div>