#betCreator #appBottomNavbar .nav li{
	width: 13%;
}

#betCreator #appBottomNavbar{
	height: 50px;
}

#betCreator #appBottomNavbar nav-pills {
	vertical-align: middle;
}

#betCreator #questionView input {
	border: none;
	background: #FFF;
	width: 300px;
}

#betCreator #questionView input:focus {
	outline: none;
	border: none;
}

#betCreator .roundTextbox {
	background:  url(../../assets/background_roundedTextbox.png) no-repeat left top;
	padding: 8px;
}

