#betCreator #appBottomNavbar {
	position: fixed;
	bottom: 0; left: 0;
	height: 50px;
	width: 100%
}

#betCreator #appBottomNavbar img {
	height: 40%;
	width: auto;
}

#betCreator #appBottomNavbar #tab1 {
	margin-left: 7.5%;
	transform: translateX(-50%);
}

#betCreator #appBottomNavbar #tab2 {
	margin-left: 21.5%;
	transform: translateX(-50%);
	height: 20%;
}

#betCreator #appBottomNavbar #tab3 {
	margin-left: 35.5%;
	transform: translateX(-50%);
	height: 20%;
}

#betCreator #appBottomNavbar #tab4 {
	height: 20%;
}

#betCreator #appBottomNavbar #tab5 {
	margin-right: 35.5%;
	transform: translateX(50%);
	height: 20%;
}

#betCreator #appBottomNavbar #tab6 {
	margin-right: 21.5%;
	transform: translateX(50%);
	height: 20%;
}

#betCreator #appBottomNavbar #tab7 {
	margin-right: 7.5%;
	transform: translateX(50%);
}