#betCreator #appBottomNavbar {
	position: fixed;
	bottom: 0; left: 0;
	height: 50px;
	width: 100%;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #9999ff;
	background-color: #FCFCFC;
}

/*Bottom navbar*/
#betCreator #appBottomNavbar img {
	height: 40%;
	width: auto;
}

#betCreator #appBottomNavbar #tab1 {
	margin-left: 7.5%;
	transform: translateX(-50%);
}

#betCreator #appBottomNavbar #tab2 {
	margin-left: 21.5%;
	transform: translateX(-50%);
	height: 20%;
}

#betCreator #appBottomNavbar #tab3 {
	margin-left: 35.5%;
	transform: translateX(-50%);
	height: 20%;
}

#betCreator #appBottomNavbar #tab4 {
	height: 20%;
}

#betCreator #appBottomNavbar #tab5 {
	margin-right: 35.5%;
	transform: translateX(50%);
	height: 20%;
}

#betCreator #appBottomNavbar #tab6 {
	margin-right: 21.5%;
	transform: translateX(50%);
	height: 20%;
}

#betCreator #appBottomNavbar #tab7 {
	margin-right: 7.5%;
	transform: translateX(50%);
}

/*Wager type view*/

#wagerTypeView #title {
	position: relative;
	height: 50px;
}

#wagerTypeView #title h4{
	color: #9999ff;
	font-weight: bold;
}

#wagerTypeView #optionContainer {
	position: relative;
	height: 300px;
}

#wagerTypeView .col {
	position: absolute;
	width: 50%;
	height: 100%;
}

#wagerTypeView #optionContainer .col img {
    height: 100px;
	width: auto;
}

#wagerTypeView .col h1 {
	color: #FCFCFC;
	font-weight: bold;
    text-align: center;
}

#wagerTypeView #optionContainer #leftCol {
	background-color: #57d1c2;
}

#wagerTypeView #optionContainer #rightCol {
	background-color: #ff806f;
	left: 50%;
}

#wagerTypeView #descriptionContainer #rightCol {
	left: 50%;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #9999ff;
}


#wagerTypeView #descriptionContainer .col h5 {
	max-width: 80%;
	text-align: center;
	margin: 10px auto;
}


#wagerTypeView #descriptionContainer .col .note {
	color: #ff806f;
	font-size: 90%;
}

/*QUESTION VIEW*/
#questionView {
    height: 800px;
}
#questionView h3, h4 {
    margin-left: 35px;
    margin-right: 35px;
}

#questionView .question {
    background-color: #A3C5EA;
    height: 20%;
}

#questionView .question h4 {
    color: #FCFCFC;
    font-weight: bold;
    margin-top: 5%;
}

#questionView .question input {
    margin: 5%;
    margin-top: 5px;
    width: 90%;
}

#questionView #betSelect {
    height: 80%;
}

#questionView #betSelect #typeOfBet {
    height: 20%;
    background-color: #666673;
}

#questionView #betSelect #typeOfBet h3 {
    color: #ff806f;
}

#questionView #betSelect #typeOfBet h4 {
    color: #FCFCFC;
}

#questionView #betSelect .container-fluid {
    position: relative;
    height: 40%;
}

#questionView #betSelect .container-fluid h3 {
    color: #9999ff;
}

#questionView #betSelect .container-fluid h4 {
    color: #666673;
}

#questionView #betSelect .selected {
    background-color: #ebebff;
    border-bottom-style: solid;
    border-bottom-width:2px;
    border-bottom-color: #9999ff;
}

#questionView #betSelect .selectionSideBox {
    height: 100px;
    width: 20px;
    background-color: #57d1c2;
    left: 0; right: auto;
}