#home {
	background-image: url('../../assets/home_background.png'); 
	background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100%;
}

#home .logo {
    width: 80%;
}

#home .logo img {
    height: auto;
    width: 100%;
}

#home #version {
    flex-shrink: 0;
	font-size: 0.8em;
	color: #FCFCFC;
	text-align: center;

	border-bottom-style: solid;
	border-bottom-color: #FCFCFC;
	border-bottom-width: 1px;
}

#home #description {
    flex-shrink: 0;
	max-width: 70%;
	font-size: 1em;
	color: #FCFCFC;
	text-align: center;
}

#home .betButton {
    margin: 10px auto;
    flex-shrink: 0;
	width: 80%;
	font-size: 1.5em;
	font-weight: bold;
	color: #FCFCFC;
	text-align: center;

	background-color: #ff806f;
	border-radius: 0;
	padding: 1em;
}

#home .facebookButton {
    margin: 10px auto;
    flex-shrink: 0;
	width: 80%;
	font-size: 1.2em;
	color: #FCFCFC;
	text-align: center;

	background-color: rgba(252, 252, 252, 0.3);
	border-radius: 0;

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-style: none;
}

#home .facebookButton #fbLogo {
	position: relative;
	height: 30px;
    bottom: 5px;
    left: 10px;
}