#home {
	min-height: 100%;
	background-image: url('../../assets/home_background.png'); 
	background-size: cover;
}

#home .logo {
	width: 60%;
	height: auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

#home #version {
	font-size: 0.8em;
	color: #FCFCFC;
	text-align: center;

	border-bottom-style: solid;
	border-bottom-color: #FCFCFC;
	border-bottom-width: 1px;

	display: table;
	margin: 0 auto;
	padding-left: 2em; 
	padding-right: 2em;
}

#home #description {
	max-width: 70%;
	font-size: 1em;
	color: #FCFCFC;
	text-align: center;
	margin: 1em auto;
}

#home #betButton {
	width: 80%;
	font-size: 1.5em;
	font-weight: bold;
	color: #FCFCFC;
	text-align: center;
	margin: 1em 10%;

	background-color: #ff806f;
	border-radius: 0;
	padding: 1em;
}

#home #facebookButton {
	width: 80%;
	font-size: 1.2em;
	color: #FCFCFC;
	text-align: center;
	margin: 1em 10%;

	background-color: rgba(252, 252, 252, 0.3);
	opacity: 50%;
	border-radius: 0;

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-style: none;
}

#home #facebookButton #fbLogo {
	position: relative;
	height: 2em;
	width: auto;
	bottom: 3px;
	left: 5px;
}