/*#appNavbar {
	padding: 20px;
	position: fixed;
	top: 0px;
    left: 0px;
	height: 50px;
	width: 100%;
	background-color: #9999ff;
}
*/
#appNavbar .navbar-fixed-top {
	background-color: #9999ff;
}

#appNavbar img {
	z-index: 1000;
	margin-left: 20px;
}

#appNavbar h3 {
	text-align: center;
	margin-top: 10px;
	color: #FCFCFC;
	font-weight: bold;
}