<div class="container viewBet">

    <div ui-view>
        <div class="question" layout="column" layout-align="space-around center">
            <h1 ng-bind="bet.question">?</h1>
            <h5 ng-bind="creator.name">?</h5>
        </div>

        <div class="expireTime" layout="row" layout-align="center center">
            <img src="assets/icon_sandClock.png">
            <label>Expires in: </label>
            <label class="highlight">{{Math.floor(expireDuration / 60 / 24)}} d</label>
            <label class="highlight">{{Math.floor(expireDuration / 60)}} hrs</label>
            <label class="highlight">{{expireDuration % 60}} mins</label>
        </div>

        <div class="options">
            <h5>Pick an Answer:</h5>
            <md-radio-group ng-model="data.group1">
                <md-whiteframe class="md-whiteframe-z2 option" layout layout-align="left center" ng-repeat="option in input.options">
                    <md-radio-button ng-value="option.content">{{option.content}}</md-radio-button>
                </md-whiteframe>
            </md-radio-group>
        </div>

        <div class="betWager">
            <h4 class="title">Bet Wager</h4>
            <div layout="row" class="wagerItem" layout-align="center center">
                <div layout="column" flex="20" >
                    <img ng-src="{{bet.winningItem.imageUrl}}" />
                </div>
                <div class="wagerInfo" flex="60">
                    <label ng-bind="bet.winningItem.title">?</label>
                    <p ng-bind="bet.winningItem.description">?</p>
                </div>
                <h1 flex="30" class="wagerCost" ng-bind="bet.winningItem.cost" ng-show="bet.winningItem.type === 0">?</h1>
            </div>
        </div>

        <div class="betParticipants">
            <h4 class="title">Invited Participants</h4>
            <div layout="row" layout-wrap>
                <div flex="33" ng-repeat="participation in bet.participations" layout="column" class="participantView" layout-align="center center">
                    <img ng-src="{{participation.user.avatarUrl}}"/>
                    <label ng-bind="participation.user.name">?</label>
                </div>
            </div>
        </div>

        <div class="declineButton">
            <md-button class="md-raised btn-normal">Decline Bet</md-button>
        </div>
    </div>

    <div ui-view>
        <!-- Detail navbar -->
        <div class="navbarContainer" ng-hide="true">
            <img id="leftArrow" src="assets/arrow_left_white.png" ng-click="lastTab()" />
            <img id="rightArrow" src="assets/arrow_right_white.png" ng-click="nextTab()" />
            <h4>{{tabs[currentTab].name}}</h4>

        </div>

        <div class="tab" ng-show="betCancelCreator && bet.state === BET_STATE.CANCELLING" id="cancelAlertContainer">
            <div id="cancelAlert">
                <img ng-src="{{betCancelCreator.avatarUrl}}" />
                <div>
                    <h4>{{betCancelCreator.name}}</h4>
                    <h5>have started a vote to cancel the bet.</h5>
                </div>
            </div>
            <!-- list of participants -->
            <div ng-repeat="item in bet.participations" class="challengerItem"
                 ng-hide="betCancelCreator.id === item.userId">
                <img ng-src="{{item.user.avatarUrl}}" class="avatar" />
                <h5>{{item.user.name}}</h5>

                <img src="assets/radio_button.png" class="status" ng-show="item.voteCancelBetState === VOTE_CANCEL_BET_STATE.AGREE" />
                <img src="assets/x_button.png" class="status" ng-show="item.voteCancelBetState === VOTE_CANCEL_BET_STATE.DISAGREE" />
            </div>
        </div>

        <div class="tab" ng-show="bet.state === BET_STATE.CANCELLED">
            <div>
                <br />
                <h4>THE BET WAS CANCELLED</h4>
                <br />
            </div>
        </div>

        <div>
            <div ng-include="'app/viewBet/result.html'" class="tab" ng-show="bet.state === BET_STATE.FINALIZED"></div>
            <div ng-include="'app/viewBet/conditions.html'" class="tab"></div>
            <div ng-include="'app/viewBet/wager.html'" class="tab"></div>
            <div ng-include="'app/viewBet/challengers.html'" class="tab"></div>
        </div>

        <div class="footerButton">
            <!-- accept button -->
            <div ng-show="getControlButtonState() === 2">
                <div id="decline" ng-click="decline()"><h4>Decline</h4></div>
                <div id="accept" ng-click="accept()"><h4>Accept</h4></div>
            </div>
            <!-- login button -->
            <div class="loginButton" ng-show="getControlButtonState() === 0" ng-click="logIn()">
                <div><h4>Facebook Log In</h4></div>
            </div>

            <!-- WHEN HAVENT PICK AN OPTION -->
            <!-- cancel/finalize button -->
            <div class="controlButton" ng-show="getControlButtonState() === 4">
                <button class="btn btn-default" ng-click="cancelBet()" ng-disabled="bet.state === BET_STATE.CANCELLING"><h4>Vote to Cancel</h4></button>
                <button class="btn btn-default" id="finallize" ng-disabled="bet.state !== BET_STATE.FINALIZABLE" ng-click="finalize()">
                    <h4>Finalize!</h4>
                </button>
            </div>

            <!-- vote for a bet cancel -->
            <div class="controlButton" ng-show="getControlButtonState() === 5">
                <button class="btn btn-default" ng-click="onDisagreeCancelBet()"><h4>Keep Going</h4></button>
                <button class="btn btn-default" id="finallize" ng-click="onAgreeCancelBet()"><h4>I'm Out!</h4></button>
            </div>

            <!-- WHEN PICKED AN OPTION -->
            <div id="selectOptionButton" ng-show="getControlButtonState() === 3"
                 ng-click="confirmSelectOption()">
                <div><h4>Bet on it!</h4></div>
            </div>

            <!-- AFTER FINALIZING -->
            <div id="postBetButtons" ng-show="getControlButtonState() === 6"
                 ng-click="share()">
                <button class="btn btn-default"><h4>Share</h4></button>
            </div>
        </div>

    </div>

</div>
