<div class="container-fluid" id="viewBet" ng-controller="viewBetController">
	<div class="header">
		<!--<div>
			<div class="avata">
				<img src="{{creator.AvataUrl}}">
			</div>
			
			<div class="creator">
				<h4>{{creator.Name}}</h4>
				<h5>wants to bet with you</h5>
				<div class="expire">
					<img src="assets/icon_sandClock.png">
					<h5>Expires in: </h5>
					<h5>{{bet.ActiveDuration}}</h5>
				</div>
			</div>
		</div>
		<div>
			<h3 class="question">{{bet.Question}}</h3>
		</div>-->

        <!-- Detail navbar -->
        <div class="navbarContainer">
            <img id="leftArrow" src="assets/arrow_left_white.png" ng-click="lastTab()"/>
            <img id="rightArrow" src="assets/arrow_right_white.png" ng-click="nextTab()"/>
            <h4>{{tabs[currentTab].name}}</h4>

        </div>
	</div>

    <div>
        <div ng-show="currentTab === 0">1</div>
        <div ng-show="currentTab === 1">2</div>
        <div ng-show="currentTab === 2">3</div>
    </div>

	<div class="footerButton">
		<div ng-show="user.Id">
			<div id="decline"><h4>Decline</h4></div>
			<div id="accept"><h4>Accept</h4></div>
		</div>
		<div class="loginButton" ng-show="!user.Id">
			<div><h4>Facebook Log In</h4></div>
		</div>
	</div>
</div>
