#viewBet {
	position: relative;
	margin-top: 50px;
	padding-bottom: 60px;
}

#viewBet .footerButton {
	position: fixed;
	top: auto; bottom: 0;
	left: 0; right: 0;
	height: 60px;
	width: 100%;
}

#viewBet .footerButton h4 {
	text-align: center;
	font-weight: bold;
	color: #FCFCFC;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#viewBet .footerButton #decline {
	float: left;
	background-color: #ACA9BF;
	height: 100%;
	width: 50%;
}

#viewBet .footerButton #accept {
	float: left;
	background-color: #ff806f;
	height: 100%;
	width: 50%;
}

#viewBet .header {
	color: #FCFCFC;
}

#viewBet .avata {
	width: 30%;
	float: left;
}

#viewBet .avata img {
	width: 100%;
}

#viewBet .creator {
	float: left;
	width: 70%;
}

#viewBet .expire {
	margin-left: 35px;
}

#viewBet .expire img {
	float: left;
	height: 15px;
	width: auto;
}

#viewBet .expire h5 {
	float: left;
	margin: auto 1em;
}

#viewBet .question {
	width: 100%;
	float: left;
	text-align: center;
}

#viewBet .footerButton .loginButton {
	background-color: #9999ff;
	border-top-color: #FCFCFC;
	border-top-style: solid;
	border-top-width: 1pt;
}

#viewBet .navbarContainer {
    position: relative;
    width: 100%;
    height: 30px;
}

#viewBet .navbarContainer h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;
    padding-top: 5px;
}

#viewBet .navbarContainer #leftArrow {
    position: absolute;
    left: 10px; top: 5px;
    height: 20px;
}

#viewBet .navbarContainer #rightArrow {
    position: absolute;
    right: 10px; top: 5px;
    height: 20px;
}