#viewBet {
	position: relative;
	margin-top: 50px;
	padding-bottom: 60px;
}

#viewBet .footerButton {
	position: fixed;
	top: auto; bottom: 0;
	left: 0; right: 0;
	height: 60px;
	width: 100%;
}

#viewBet .footerButton h4 {
	text-align: center;
	font-weight: bold;
	color: #FCFCFC;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#viewBet .footerButton #decline {
	float: left;
	background-color: #ACA9BF;
	height: 100%;
	width: 50%;
}

#viewBet .footerButton #accept {
	float: left;
	background-color: #ff806f;
	height: 100%;
	width: 50%;
}

#viewBet .header {
	color: #FCFCFC;
    background-color: #0094ff;
}

#viewBet .header .col-xs-12{
	color: #FCFCFC;
    padding-right: 0;
}


#viewBet .avata {
	width: 30%;
	float: left;
    padding-left: 20px;
    padding-top: 20px;
}

#viewBet .avata img {
	width: 100%;
    max-width: 200px;
}

#viewBet .creator {
	float: left;
	width: 70%;
}

#viewBet .expire {
	margin-left: 35px;
}

#viewBet .expire img {
	float: left;
	height: 15px;
	width: auto;
}

#viewBet .expire h5 {
	float: left;
	margin: auto 1em;
}

#viewBet .question {
	width: 100%;
	float: left;
	text-align: center;
}

#viewBet .footerButton .loginButton {
	background-color: #9999ff;
	border-top-color: #FCFCFC;
	border-top-style: solid;
	border-top-width: 1pt;
    height: 70px;
}

#viewBet .navbarContainer {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #9999ff;
    color: #FCFCFC;
    box-shadow: 0 2px 10px -2px #000000;
}

#viewBet .navbarContainer h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;
    padding-top: 5px;
}

#viewBet .navbarContainer #leftArrow {
    position: absolute;
    left: 10px; top: 5px;
    height: 20px;
}

#viewBet .navbarContainer #rightArrow {
    position: absolute;
    right: 10px; top: 5px;
    height: 20px;
}

/*CONDITION*/

#viewBet #conditions {
    margin-top: 10px;
}

#viewBet .optionItem {
    position: relative;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-color: #9999ff;
    border-bottom-width: 1px;
}

#viewBet #conditions #avatarContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left:0;
    text-align:right;
}

#viewBet #conditions #avatarContainer img{
    float: right;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    width: auto;
    border-radius: 50%;
}


#viewBet .optionItem h4 {
    margin: 0 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

#viewBet #challenger {
    margin-top: 10px;
}

#viewBet #challenger .challengerItem{
    position: relative;
    height: 70px;

    border-bottom-style: solid;
    border-bottom-color: #9999ff;
    border-bottom-width: 1px;
}

#viewBet #challenger .challengerItem img {
    position: absolute;
    height: 50px;
    top: 10px; left: 20px;
}

#viewBet #challenger .challengerItem h4 {
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 15px;
}

#viewBet #wager row {
    height: 300px;
}

#viewBet #wager #smallCol {
    background-color: #808080;
    text-align: center;
    padding: 20px;
}

#viewBet #wager h2 {
    background-color: #ff806f;
    color: #FCFCFC;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    height: 60px;
    font-weight: bold;
}

#viewBet #wager #smallCol h1 {
    color: #808080;
    background-color: #FCFCFC;
    border-radius: 30px;
    height:60px;
    width: 60px;
    text-align: center;
    font-size: 40px;
    padding-top: 8px;
    padding-bottom: 10px;
    font: bold;
    overflow: visible;
    top: 50px; bottom: auto;
}

#viewBet #wager #smallCol h3 {
    margin-top: 30px;
    color: #FCFCFC;
    font-size: 16px;
    text-align: center;
}

#viewBet #wager #bigCol {
    height: 100%;
}

#viewBet #wager #bigCol img {
    height: 100px;
    width: auto;
    margin-top: 50px;
}

#viewBet #wager #bigCol h3 {
    text-align: center;
}

#viewBet #wager #bigCol h4 {
    padding: 20px;
    font-size: 15px;
}

#viewBet .controlButton {
    height: 80px;
    background-color: #808080;
    box-shadow: 0px 0px 5px #000;
}

#viewBet .controlButton h4 {
    float: left;
    margin: 0;
    width: 50%;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#viewBet .controlButton #finallize h4{
    background-color: #ff806f;
}

#viewBet .controlButton #finallize .disable {
    background-color: #808080;
    color: #C0C0C0;
}

#viewBet #conditions .selected {
    background-color: #ebebff;
}

#viewBet #selectOptionButton {
    height: 80px;
    background-color: #ff806f;
    box-shadow: 0px 0px 5px #000;
}

#viewBet #selectOptionButton h4 {
    height: 80px;
    margin: 0;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#viewBet .tab {
    margin: 30px 10px;
    box-shadow: 0px 0px 5px #000;
}
